start.bat
startProperties.properties
tools/
bin/
changelog.txt
doc/
error.log
joystickDump.txt
lib/
libjinput-osx.dylib
liblwjgl.dylib
libopenal.dylib
license/
opt/
.classpath
.project
Analyzer.jar
OpenDS.jar
README.txt
analyzerData/